* {
  font-family: "Museo-Sans Cyrl", sans-serif;
}

.container {
  position: relative;
  max-width: 950px;
  margin: 0 auto;
}

.promo {
  min-height: 650px;
  padding: 21px 0 93px 0;
  background: url(../../img/main.jpg) center center/cover no-repeat;
}
.promo__wrapper {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  margin-top: 90px;
}
.promo__header {
  font-weight: 700;
  font-size: 42px;
  text-transform: uppercase;
  color: #FFFFFF;
}
.promo__subheader {
  font-weight: 500;
  font-size: 24px;
  text-transform: uppercase;
  color: #FFFFFF;
  margin-top: 17px;
}
.promo__icons {
  margin-top: 65px;
  display: flex;
  justify-content: space-between;
  width: 424px;
}
.promo__icon {
  width: 108px;
  text-align: center;
  color: #FFFFFF;
  font-size: 14px;
  font-weight: 500;
}
.promo__icon img {
  display: block;
  margin: 0 auto;
  margin-bottom: 20px;
}
.promo__link {
  margin-top: 18px;
  font-weight: 500;
  font-size: 16px;
  color: #FFFFFF;
}
.promo__link a {
  text-transform: uppercase;
  text-decoration: underline;
  color: #FFFFFF;
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.header__logo {
  width: 250px;
}
.header__logo img {
  width: 100%;
}
.header__official {
  color: #ffffff;
  font-size: 12px;
  font-weight: 500;
  text-align: center;
}
.header__official span {
  display: block;
  font-size: 18px;
}
.header__phone {
  display: block;
  font-weight: 700;
  font-size: 18px;
  color: #FFFFFF;
}
.header__phone:hover {
  color: #FFFFFF;
  text-decoration: none;
}
.header__contacts {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
}

.button {
  width: 153px;
  height: 32px;
  background-color: #c70101;
  border-radius: 5px;
  border: none;
  font-weight: 500;
  font-size: 12px;
  text-transform: uppercase;
  color: #FFFFFF;
  text-align: center;
}
.button_main {
  margin-top: 67px;
  width: 300px;
  height: 50px;
  font-size: 16px;
}
.button_submit {
  width: 100%;
  height: 58px;
  background: #c70101;
  font-size: 16px;
}
.button_mini {
  width: 135px;
  height: 44px;
  font-size: 14px;
}

.advantages {
  padding: 73px 0 83px 0;
  background-color: #F6F6F6;
}
.advantages__title {
  text-align: center;
  font-weight: 700;
  font-size: 30px;
  color: #0D0D0D;
}
.advantages__dignity {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 60px;
  width: 100%;
}
.advantages__icon {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  width: 269px;
}
.advantages__icon img {
  width: 70px;
  height: 70px;
}
.advantages__icon span {
  color: rgb(255, 0, 0);
  font-family: "MuseoModerno";
}
.advantages__titles {
  font-weight: 700;
  font-size: 18px;
  color: #0D0D0D;
  margin-top: 35px;
}
.advantages__descr {
  font-weight: 300;
  font-size: 14px;
  line-height: 18px;
  color: #0D0D0D;
  margin-top: 20px;
  height: 91px;
  text-align: center;
}

.consultation {
  min-height: 680px;
  padding: 100px 0 92px 0;
  background: url("../../img/consultation.jpg") center center/cover no-repeat;
}
.consultation__descr {
  font-family: "MuseoModerno";
  font-weight: 500;
  font-size: 20px;
  line-height: 30px;
  color: #FFFFFF;
}

.title {
  color: #0d0d0d;
  font-size: 30px;
  font-weight: 700;
  text-align: center;
  text-transform: uppercase;
}
.title_left {
  color: #FFFFFF;
  text-align: left;
  font-size: 36px;
}

.feed-form {
  margin-top: 36px;
  display: flex;
  flex-direction: column;
  width: 300px;
}
.feed-form input {
  height: 50px;
  border-radius: 5px;
  background-color: #fff;
  margin-bottom: 15px;
  border: none;
  padding: 0 20px;
  font-weight: 400;
  font-size: 14px;
  color: #4B4B4B;
}
.feed-form input:nth-child(3) {
  margin-bottom: 20px;
}

.carousel {
  padding: 81px 0;
  /*
  .slick-prev {
      position: absolute;
      top: 50%;
      transform: translateY(-50%);
      left: -66px;
      border: none;
      background-color: #fff;
      img {
          width: 31px;
          height: 51px;
      }
  }
  .slick-next {
      position: absolute;
      top: 50%;
      transform: translateY(-50%);
      right: -66px;
      border: none;
      background-color: #fff;
      z-index: 5;

  }
  */
}
.carousel__inner {
  position: relative;
  width: 750px;
  margin: 0 auto;
}
.carousel .prev, .carousel .next {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  left: -66px;
  border: none;
  background-color: #fff;
}
.carousel .prev img, .carousel .next img {
  width: 31px;
  height: 51px;
}
.carousel .next {
  right: -66px;
  left: auto;
}
.carousel .tns-item img {
  display: block;
  margin: 0 auto;
  width: 100%;
}
.carousel .tns-nav button {
  background-color: aqua;
  width: 50px;
  height: 10px;
}
.carousel .tns-nav .tns-nav-active {
  background-color: red;
}

.catalog {
  padding-bottom: 100px;
}
.catalog__tabs {
  margin-top: 70px;
  list-style-type: none;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 0;
  padding-left: 0;
}
.catalog__tab {
  width: 222px;
  height: 52px;
  border: 2px solid #D0D0D0;
  font-weight: 400;
  font-size: 18px;
  text-align: center;
  text-transform: uppercase;
  color: #6B6B6B;
  line-height: 48px;
  transform: skewX(-25deg);
  margin: 0 5px;
  transition: 0.5s all;
  cursor: pointer;
}
.catalog__tab:hover {
  box-shadow: 3px 3px 20px #c70101;
  background-color: brown;
  border: none;
  color: rgb(250, 234, 8);
}
.catalog__tab div {
  transform: skewX(25deg);
}
.catalog__tab_active {
  background: #c70101;
  color: #FFFFFF;
  border: none;
}
.catalog__content {
  margin-top: 60px;
}
.catalog-item {
  width: 303px;
  min-height: 442px;
  border: 2px solid #e8e8e8;
  background-color: #ffffff;
  padding: 20px 20px 26px 20px;
}
.catalog-item__img {
  display: block;
  margin: 0 auto;
  max-width: 100%;
  height: 200px;
}
.catalog-item__subtitle {
  margin-top: 20px;
  font-weight: 700;
  font-size: 16px;
  text-align: center;
  color: #0D0D0D;
}
.catalog-item__descr {
  margin-top: 15px;
  font-weight: 300;
  font-size: 14px;
  text-align: center;
  color: #0D0D0D;
}
.catalog-item__link {
  display: block;
  margin: 10px auto 0;
  font-weight: 500;
  font-size: 14px;
  text-align: center;
  text-decoration-line: underline;
  color: #c70101;
}
.catalog-item__link:hover {
  color: #c70101;
}
.catalog-item br {
  margin-top: 17px;
  width: 263px;
  background-color: #E8E8E8;
  border-bottom: none;
  margin-bottom: 21px;
}
.catalog-item__footer {
  display: flex;
  justify-content: space-between;
}
.catalog-item__old-price {
  font-weight: 300;
  font-size: 14px;
  text-decoration-line: line-through;
  color: #555555;
}
.catalog-item__price {
  margin-top: 2px;
  font-weight: 700;
  font-size: 20px;
  color: #050505;
}

@media screen and (max-width: 1200px) {
  .container {
    max-width: 992px;
    padding: 0 15px;
  }
}
@media screen and (max-width: 767px) {
  .container {
    max-width: 576px;
  }
  .container .header__logo {
    width: 200px;
  }
  .container .header__official span {
    font-size: 16px;
  }
  .container .header__phone {
    font-size: 16px;
  }
  .container .header button {
    width: 135px;
    height: 25px;
  }
  .container .promo__wrapper {
    align-items: center;
  }
  .container .promo__header {
    font-size: 38px;
  }
  .container .promo__subheader {
    font-size: 20px;
  }
  .container .advantages__title {
    font-size: 28px;
  }
  .container .advantages__icon {
    width: 180px;
  }
  .container .advantages__icon img {
    width: 60px;
    height: 60px;
  }
  .container .advantages__titles {
    font-size: 16px;
    text-align: center;
  }
}
@media screen and (max-width: 576px) {
  .container {
    max-width: 320px;
  }
  .container .header {
    flex-direction: column;
    height: 170px;
  }
  .container .promo__wrapper {
    align-items: center;
    align-items: center;
  }
  .container .promo__header {
    text-align: center;
  }
  .container .promo__header__official {
    font-size: 16px;
  }
  .container .promo__subheader {
    text-align: center;
    margin-top: 30px;
  }
  .container .promo__icons {
    flex-direction: column;
    align-items: center;
  }
  .container .promo__icons img {
    width: 80px;
    height: 80px;
  }
  .container .promo__icon {
    font-size: 20px;
  }
  .advantages__dignity {
    flex-direction: column;
    margin-top: 0;
  }
  .advantages__titles {
    font-size: 20px !important;
  }
  .advantages__icon {
    margin-top: 30px;
    height: 100%;
  }
  .advantages__descr {
    font-size: 16px;
    min-width: 300px;
  }
}/*# sourceMappingURL=style.css.map */